<html>
  <body>
    
    <!-- <textarea>
      
    </textarea> -->
    <!-- <div>
      <div *ngFor="let user from data">
          {{user.avatar}}
      </div>
        
    </div> -->
    <!-- <table  border=1 style="width: 50%">
        
      <thead>
          <th>avatar</th>
          <th>email</th>
          <th>first_name</th>
          <th>id</th>
          <th>last_name</th>                 
      </thead>
      <tbody>
        <ng-content *ngFor="let user from data">
      <tr >
        <td> {{ user.avatar}}</td>
        <td> </td>
        <td> </td>
        <td></td>
        <td> </td>
      </tr> 
    </ng-content>
    </tbody>
      </table> -->
     
    </body>
</html>